<div class="container">
  <h1>Détail de Créneau</h1>


  <div>Heure de Début = <%= @slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></div>
  <div>Heure de Fin = <%= @slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></div>
  <div>Statut = <%= @slot.status %></div>

  <div>

  <%= link_to "Retour", enterprise_slots_path(@enterprise_id), class: "btn btn-secondary" %><br/><br/>

    <%= button_to 'Supprimer', enterprise_slot_path(@enterprise_id), method: :delete,
          data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %><br/>

    <%= link_to "modifier", edit_enterprise_slot_path, class: "btn btn-primary" %>
  <div>
</div>
