<div class="container">
  <h2 style="text-align: center; margin-bottom: 20px;">Détail de Créneau</h2>

  <div class="row">
    <div class="col-md-6 offset-md-3 pl-0">
      <div class="form-group">
        <label for="heure-debut">Heure de Début</label>
        <p><%= @slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></p>
      </div>
      <div class="form-group">
        <label for="heure-fin">Heure de Fin</label>
        <p><%= @slot.end_time.strftime("%d %B %Y - %H:%M:%S") %></p>
      </div>
      <div class="form-group">
        <label for="statut">Statut</label>
        <p><%= @slot.status %></p>
      </div>
      <div class="form-group text-left">

    <%= button_to enterprise_slot_path(@enterprise_id), method: :delete,
          data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" do %>
          <i class="fa-solid fa-trash-can"></i>
    <% end %><br/>

    <%= link_to edit_enterprise_slot_path, class: "btn btn-primary" do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  <div>
</div>
