<div class="container">
  <h1>Mes Favoris</h1>

  <div class="row">
    <% @enterprises.each do |enterprise| %>
      <div class="col-md-3">
        <div class="card mt-3" style="width: 18rem;">
          <%= cl_image_tag(enterprise.photo.key, width: 400, height: 300, crop: :fit, class: "card-img-top enterprise-image") %>
          <div class="card-body">
            <h5 class="card-title"><%= enterprise.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and
              make up the bulk of the card's content.
            </p>

            <%= link_to "consulter les services", enterprise_services_path(enterprise.id), class: "btn btn-primary"%>
            <%= link_to "Reviews", enterprise_reviews_path(enterprise.id), class: "btn btn-primary mt-2"%>

            <%= link_to my_favorites_path do%>
                <i class="fa-solid fa-star fa-2x"
                  data-controller="favori"
                  data-favori-target="favori_add"
                  data-favori-id-value="<%= enterprise.id %>"
                  data-action="mouseenter->favori#handleMouseEnter click->favori#retirer">
                </i>
              <% end %>

          </div>
        </div>
      </div>
    <%end %>
  </div>






</div>


<style>
  .enterprise-image {
    width: 287px;
    height: 200px;
    object-fit: fit; /* ou `object-fit: contain;` selon le rendu souhaité */
  }
</style>
