<div class="container">
  <h1 class="mt-5 text-center">Résultats de recherche pour "<%= @text %>"</h1>

  <div class="row mt-4">
    <% @enterprises.each do |enterprise| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <%= cl_image_tag(enterprise.photo.key, width: 400, height: 300, crop: :fit, class: "card-img-top enterprise-image") %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= enterprise.name %></h5>
            <p class="card-text"><%= enterprise.description %></p>

            <div class="text-center">
              <%= link_to "Consulter les services", enterprise_services_path(enterprise.id), class: "btn btn-primary btn-sm mb-2" %>
              <%= link_to "Reviews", enterprise_reviews_path(enterprise.id), class: "btn btn-primary btn-sm mb-2" %>

              <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).empty? %>
                <%= link_to "#" do %>
                  <i class="far fa-star fa-2x"
                    data-controller="favori"
                    data-favori-target="favori_add"
                    data-favori-id-value="<%= enterprise.id %>"
                    data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer">
                  </i>
                <% end %>
              <% else %>
                <%= link_to "#" do %>
                  <i class="fas fa-star fa-2x"
                    data-controller="favori"
                    data-favori-target="favori_add"
                    data-favori-id-value="<%= enterprise.id %>"
                    data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer">
                  </i>
                <% end %>
              <% end %>
            </div>

            <p class="text-center">
              <%= Geocoder::Calculations.distance_between(
                [@latitude, @longitude],
                [enterprise.latitude, enterprise.longitude]).to_i %> KM
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<style>
  .enterprise-image {
    width: 412px;
    height: 200px;
    object-fit: fit; /* ou `object-fit: contain;` selon le rendu souhaité */
  }
</style>
