<div class="container">
  <h1>Résultats de recherche pour "  <%= @text %>"</h1>

  <div class="row">
    <% @enterprises.each do |enterprise| %>
      <div class="col-md-3">
        <div class="card mt-3" style="width: 18rem;">
          <%= cl_image_tag(enterprise.photo.key, width: 400, height: 300, crop: :fit, class: "card-img-top enterprise-image") %>
          <div class="card-body">
            <h5 class="card-title"><%= enterprise.name %></h5>
            <p class="card-text"><%= enterprise.description %>
            </p>

            <%= link_to "consulter les services", enterprise_services_path(enterprise.id), class: "btn btn-primary"%>
            <%= link_to "Reviews", enterprise_reviews_path(enterprise.id), class: "btn btn-primary mt-2"%>
            <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length == 0 %>
              <%= link_to "#" do%>
                <i class="fa-regular fa-star fa-2x"
                  data-controller="favori"
                  data-favori-target="favori_add"
                  data-favori-id-value="<%= enterprise.id %>"
                  data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer">
                </i>
              <% end %>
            <% end %>


            <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length > 0 %>
              <%= link_to "#" do%>
                <i class="fa-solid fa-star fa-2x"
                  data-controller="favori"
                  data-favori-target="favori_add"
                  data-favori-id-value="<%= enterprise.id %>"
                  data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer">
                </i>
              <% end %>
            <% end %>

            <%= Geocoder::Calculations.distance_between(
              [@latitude, @longitude],
              [enterprise.latitude, enterprise.longitude]).to_i %> KM

          </div>
        </div>
      </div>
    <%end %>
  </div>








</div>


<style>
  .enterprise-image {
    width: 287px;
    height: 200px;
    object-fit: fit; /* ou `object-fit: contain;` selon le rendu souhaité */
  }
</style>
