<div class="container">
  <h1>Résultats de recherche pour "  <%= @text %>"</h1>

  <div class="row">
    <div class="cards">
      <% @enterprises.each do |enterprise| %>

        <%= link_to enterprise_services_path(enterprise.id) do %>
          <div class="card-category position-relative"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(enterprise.photo.key, crop: :fit, width: 800, height: 600) %>');">
            <%= enterprise.name %>
            <div class="position-absolute top-0 end-0">
              <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length == 0 %>
                <i class="fa-regular fa-heart fa-2x"
                  data-controller="favori"
                  data-favori-target="favori_add"
                  data-favori-id-value="<%= enterprise.id %>"
                  data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer"
                  >
                </i>
              <% end %>
              <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length > 0 %>
                <i class="fa-solid fa-heart fa-2x"
                  data-controller="favori"
                  data-favori-target="favori_add"
                  data-favori-id-value="<%= enterprise.id %>"
                  data-action="mouseenter->favori#handleMouseEnter click->favori#ajouterRetirer"
                  style="z-index: 999;">
                </i>
              <% end %>
            </div>
          </div>
        <% end %>
      <%end %>
    </div>
  </div>

</div>


<style>
  a {
  text-decoration: none;
}
</style>
