
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Résultats de recherche</title>
  <style>
    /* Styles personnalisés :P  */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 50px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
    h1 {
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }
    table {
      background-color: #fff;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #6c757d;
      color: #fff;
    }
    tr:nth-child(even) {
      background-color: #f8f9fa;
    }
    tr:hover {
      background-color: #e9ecef;
    }
    a {
      text-decoration: none;
      color: #007bff;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #0056b3;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Résultats de recherche pour "  <%= @text %>"</h1>

  <div class="row">
    <% @enterprises.each do |enterprise| %>
      <div class="col-md-3">
        <div class="card mt-3" style="width: 18rem;">
          <%= cl_image_tag(enterprise.photo.key, width: 400, height: 300, crop: :fit, class: "card-img-top enterprise-image") %>

          <div class="card-body">
            <h5 class="card-title"><%= enterprise.name %></h5>
            <p class="card-text"><%= enterprise.description %>
            </p>
              </div>
            <%= link_to "consulter les services", enterprise_services_path(enterprise.id), class: "btn btn-primary"%>
            <%= link_to "Reviews", enterprise_reviews_path(enterprise.id), class: "btn btn-primary mt-2"%>
            <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length == 0 %>
              <%= link_to "Ajouter aux favoris", enterprise_add_to_favorites_path(enterprise.id), class: "btn btn-primary mt-2"%>
            <% end %>

            <% if Favorite.where(enterprise_id: enterprise.id, user_id: current_user.id).length > 0 %>
              <%= link_to "Retirer des favoris", enterprise_remove_to_favorites_path(enterprise.id), class: "btn btn-primary mt-2"%>
            <% end %>

            <%= Geocoder::Calculations.distance_between(
              [@latitude, @longitude],
              [enterprise.latitude, enterprise.longitude]).to_i %> KM

          </div>
        </div>
      </div>
    <%end %>
  </div>








</div>


<style>
  .enterprise-image {
    width: 287px;
    height: 200px;
    object-fit: fit; /* ou `object-fit: contain;` selon le rendu souhaité */
  }
</style>
