<!-- app/views/reservations/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-4 mt-3">
      <h1>Détails de la réservation</h1>

      <p>Date de début : <strong><%= @reservation.slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
      <p>Date de fin : <strong><%= @reservation.slot.end_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
      <p>Service : <strong><%= @reservation.service.title %></strong></p>
      <p>Price : <strong><%= @reservation.service.price %></strong></p>
      <p>Entreprise : <strong><%= @enterprise.name %></strong></p>

      <% if @reservation.user_id == current_user.id %>

        <%= link_to edit_enterprise_reservation_path(@enterprise_id, @reservation), class: "btn btn-secondary" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <%= button_to enterprise_reservation_path(@enterprise_id, @reservation), method: :delete,
                  data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" do %>
            <i class="fa-solid fa-trash-can"></i>
        <% end %><br/>
      <% end %>
    </div>

  <div class="col-8 mt-3">
    <%= js_map [{latitude: @enterprise.latitude, longitude: @enterprise.longitude, label: @enterprise.name}], width: "800px", height: "400px" %>
  </div>

</div>
