<!-- app/views/reservations/show.html.erb -->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails de la réservation</title>
  <style>
    /* Styles personnalisés pour les détails de la réservation */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 50px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
    h1 {
      color: #007bff; /* Bleu */
      text-align: center;
    }
    table {
      margin-top: 30px;
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 12px;
      border-bottom: 1px solid #dee2e6;
    }
    th {
      background-color: #007bff; /* Bleu */
      color: #fff;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
<div class="container">

  <div class="row">

    <div class="col-5">
      <div class="row">
        <h1>Détails</h1>

        <p>Date de début : <strong><%= @reservation.slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
        <p>Date de fin : <strong><%= @reservation.slot.end_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
        <p>Service : <strong><%= @reservation.service.title %></strong></p>
        <p>Price : <strong><%= @reservation.service.price %></strong></p>
        <p>Entreprise : <strong><%= @enterprise.name %></strong></p>

      </div>

      <% if @reservation.user_id == current_user.id %>
          <%= link_to edit_enterprise_reservation_path(@enterprise_id, @reservation), class: "btn btn-primary" do %>
            <i class="fa-regular fa-pen-to-square fa-2x"></i>
          <% end %>

        <div class="row mt-2">
          <%= button_to enterprise_reservation_path(@enterprise_id, @reservation), method: :delete,
                    data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" do %>
              <i class="fa-solid fa-trash-can fa-2x"></i>
          <% end %><br/>
        </div>
      <% end %>

    </div>

    <div class="col-7 mt-3">
      <%= js_map [{latitude: @enterprise.latitude, longitude: @enterprise.longitude, label: @enterprise.name}], width: "800px", height: "400px" %>
    </div>

  </div>

</div>
