<!-- app/views/reservations/show.html.erb -->
<div class="container">

  <div class="row">

    <div class="col-5">
      <div class="row">
        <h1>Détails</h1>

        <p>Date de début : <strong><%= @reservation.slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
        <p>Date de fin : <strong><%= @reservation.slot.end_time.strftime("%d %B %Y - %H:%M:%S") %></strong></p>
        <p>Service : <strong><%= @reservation.service.title %></strong></p>
        <p>Price : <strong><%= @reservation.service.price %></strong></p>
        <p>Entreprise : <strong><%= @enterprise.name %></strong></p>

      </div>

      <% if @reservation.user_id == current_user.id %>
          <%= link_to edit_enterprise_reservation_path(@enterprise_id, @reservation), class: "btn btn-primary" do %>
            <i class="fa-regular fa-pen-to-square fa-2x"></i>
          <% end %>

        <div class="row mt-2">
          <%= button_to enterprise_reservation_path(@enterprise_id, @reservation), method: :delete,
                    data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" do %>
              <i class="fa-solid fa-trash-can fa-2x"></i>
          <% end %><br/>
        </div>
      <% end %>

    </div>

    <%# <div class="col-7 mt-3">
      <%= js_map [{latitude: @enterprise.latitude, longitude: @enterprise.longitude, label: @enterprise.name}], width: "800px", height: "400px" %>
    <!--</div> %>-->

    <div class="col-7 mt-3"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= @key %>">
    </div>

  </div>

</div>
