<!-- app/views/reservations/show.html.erb -->
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails de la réservation</title>
  <style>
    /* Styles personnalisés pour les détails de la réservation */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 50px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
    h1 {
      color: #007bff; /* Bleu */
      text-align: center;
    }
    table {
      margin-top: 30px;
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 12px;
      border-bottom: 1px solid #dee2e6;
    }
    th {
      background-color: #007bff; /* Bleu */
      color: #fff;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Détails de la réservation</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Date de début</th>
        <td><%= @reservation.slot.start_time.strftime("%d %B %Y - %H:%M:%S") %></td>
      </tr>
      <tr>
        <th>Date de fin</th>
        <td><%= @reservation.slot.end_time.strftime("%d %B %Y - %H:%M:%S") %></td>
      </tr>
      <tr>
        <th>Service</th>
        <td><%= @reservation.service.title %></td> <!-- Supposons que chaque réservation appartient à un utilisateur -->
      </tr>
      <tr>
        <th>Price</th>
        <td><%= @reservation.service.price %></td> <!-- Supposons que chaque réservation appartient à un utilisateur -->
      </tr>
      <tr>
        <th>Statut</th>
        <td><%= @reservation.status %></td> <!-- Supposons que chaque réservation appartient à un utilisateur -->
      </tr>
      <!-- Ajoutez d'autres détails de réservation au besoin -->
    </tbody>
  </table>

  <%= link_to "Retour", myself_enterprise_reservations_path(@enterprise_id), class: "btn btn-secondary" %>

  <%= link_to "Modifier", edit_enterprise_reservation_path(@enterprise_id, @reservation), class: "btn btn-secondary" %>

  <%= button_to 'Annuler', enterprise_reservation_path(@enterprise_id, @reservation), method: :delete,
            data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %><br/>
</div>
