<div class="container">
  <%= simple_form_for(@enterprise, url: enterprise_path) do |f| %>
    <%= f.input :user_id, as: :integer, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
